.logoFPTS img {
  
    width: 246px;
}
.fpts-login {
    background-color: #fff;
    border-radius: 11px;
    -webkit-box-shadow: 0 3px 14px rgba(0,0,0,.15);
    -moz-box-shadow: 0 3px 14px rgba(0,0,0,.15);
    box-shadow: 0 3px 14px rgba(0,0,0,.15);
}
.fpts-login input {
    margin: 1rem auto;
}
.fpts-support > a {
    color: #000;
}
.fpts-support > a:hover {
    color: #3a77b7;

}
.fpts-register {
    color: #666;
    font-style: italic;
}

.form-control {
    border-color: #ccc;
}
.table-bordered {
    border: 1px solid #ddd;
}